*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h4 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -.1rem;
  font-weight: 400;
  margin-bottom: 0.5rem; }

h5 {
  color: #969696;
  margin-bottom: 0; }

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%; }
  body #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  body #write-review {
    display: none;
    position: absolute;
    width: 300px;
    top: 136px;
    right: 0;
    height: 400px;
    /* background-color: white; */
    background-color: red;
    z-index: 6;
    padding: 20px;
    text-align: right; }
    body #write-review input {
      margin-left: 0; }
    body #write-review a {
      text-decoration: none;
      font-size: 1.5em;
      color: black; }
    body #write-review textarea {
      width: 100%;
      min-height: 175px;
      resize: none; }
  body #review-bar {
    position: absolute;
    width: 300px;
    top: 58px;
    right: 0;
    height: 100%;
    background-color: white;
    z-index: 5; }
    body #review-bar .title-section .grid {
      background-color: #2d2d2d;
      padding: 15px; }
      body #review-bar .title-section .grid .col-8 .store-container h4 {
        color: white; }
      body #review-bar .title-section .grid .col-4 .back-button button {
        color: white; }
    body #review-bar .review-section .grid {
      padding: 15px; }
      body #review-bar .review-section .grid .name h4 {
        font-size: 15px;
        line-height: 1.5; }
      body #review-bar .review-section .grid .rating span {
        color: orange; }
      body #review-bar .review-section .grid .review {
        word-break: break-all; }
    body #review-bar a {
      display: block;
      width: 180px;
      margin: 0 auto; }
  body #slide-bar {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58);
    -moz-box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58);
    box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58);
    -webkit-transition: right 0.5s ease-in-out 0s; }
    body #slide-bar #before {
      display: block;
      position: absolute;
      padding: 14px;
      color: white;
      left: -50px;
      width: 50px;
      height: 58px;
      background-color: #2d2d2d;
      -webkit-box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58);
      -moz-box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58);
      box-shadow: -1px -1px 10px 0 rgba(45, 45, 45, 0.58); }
    body #slide-bar .search-bar {
      height: auto;
      width: 100%;
      background-color: #2d2d2d;
      position: relative;
      clear: both;
      padding: 10px; }
      body #slide-bar .search-bar input {
        border-radius: 10px;
        position: relative;
        width: 80%;
        display: inline;
        margin-bottom: 0;
        margin-right: 0;
        background-color: #2d2d2d;
        color: white;
        border: 1px solid white; }
      body #slide-bar .search-bar .icon-search2 {
        color: white;
        display: inline;
        width: 20%;
        font-size: 30px;
        top: 15px;
        margin-left: 10px;
        position: absolute; }
    body #slide-bar .filter-bar {
      width: 100%;
      clear: both;
      padding: 10px;
      padding-bottom: 15px;
      position: relative;
      background-color: #2d2d2d; }
      body #slide-bar .filter-bar .more-filter {
        position: relative;
        width: 100%;
        border-radius: 10px;
        margin: 0 auto; }
        body #slide-bar .filter-bar .more-filter:hover {
          color: white;
          border: 1px solid white; }
        body #slide-bar .filter-bar .more-filter:focus {
          color: white;
          border: 1px solid white; }
    body #slide-bar .text-container {
      overflow-y: scroll;
      height: 800px; }
      body #slide-bar .text-container .spinner {
        position: absolute;
        top: 15%;
        left: 35%; }
      body #slide-bar .text-container .text-section {
        position: relative;
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;
        -webkit-transition: all 0.5s ease-in-out 0s; }
        body #slide-bar .text-container .text-section .h-container {
          width: 50%;
          clear: both;
          margin: 0;
          display: inline; }
          body #slide-bar .text-container .text-section .h-container h5 {
            margin-bottom: 0.5em; }
        body #slide-bar .text-container .text-section .review-button {
          width: 50%;
          display: inline;
          margin-bottom: 0; }
        body #slide-bar .text-container .text-section:hover {
          background-color: #2d2d2d; }
        body #slide-bar .text-container .text-section:hover h4 {
          color: white; }

/*# sourceMappingURL=main.css.map */
