@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?fuw3w1');
  src: url('fonts/icomoon.eot?fuw3w1#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?fuw3w1') format('truetype'), url('fonts/icomoon.woff?fuw3w1') format('woff'), url('fonts/icomoon.svg?fuw3w1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-forward:before {
  content: "\e901";
}
.icon-search2:before {
  content: "\e903";
}
.icon-star-full:before {
  content: "\e900";
}
